# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python
__pycache__/
*.pyc
*.pyo
.venv/
node_modules/


# dependencies
umdloop_gui_web/node_modules
umdloop_gui_web/.pnp
umdloop_gui_web/.pnp.*
umdloop_gui_web/.yarn/*
!umdloop_gui_web/.yarn/patches
!umdloop_gui_web/.yarn/plugins
!umdloop_gui_web/.yarn/releases
!umdloop_gui_web/.yarn/versions

# testing
umdloop_gui_web/coverage

# next.js
umdloop_gui_web/.next/
umdloop_gui_web/out/

# production
umdloop_gui_web/build

# misc
umdloop_gui_web/.DS_Store
umdloop_gui_web/*.pem

# debug
umdloop_gui_web/npm-debug.log*
umdloop_gui_web/yarn-debug.log*
umdloop_gui_web/yarn-error.log*
umdloop_gui_web/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
umdloop_gui_web/.env*

# vercel
umdloop_gui_web/.vercel

# typescript
umdloop_gui_web/*.tsbuildinfo
umdloop_gui_web/next-env.d.ts
